body {
    font-family: 'Roboto', sans-serif;
    background: #a599ff;
    background-image: url(/images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #f99; */
}
